src/main/resources/wsdl/FinacleBalance.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="https://dcdmisapppr01.idbibank.com/14000/FISERVLET/fihttp"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="https://dcdmisapppr01.idbibank.com/14000/FISERVLET/fihtt"
	targetNamespace="https://dcdmisapppr01.idbibank.com/14000/FISERVLET/fihtt">
	<wsdl:types>
		<xs:schema
			xmlns:tns="https://dcdmisapppr01.idbibank.com/14000/FISERVLET/fihttp"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="https://dcdmisapppr01.idbibank.com/14000/FISERVLET/fihttp">
			<xs:element name="BalInqRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AcctId" type="xs:string" />
						<xs:element name="SchmCode" type="xs:string" />
						<xs:element name="BankId" type="xs:string" />
						<xs:element name="Name" type="xs:string" />
						<xs:element name="BranchId" type="xs:string" />
						<xs:element name="BranchName" type="xs:string" />
						<xs:element name="Addr1" type="xs:string" />
						<xs:element name="Addr2" type="xs:string" />
						<xs:element name="Addr3" type="xs:string" />
						<xs:element name="City" type="xs:string" />
						<xs:element name="StateProv" type="xs:string" />
						<xs:element name="PostalCode" type="xs:string" />
						<xs:element name="Country" type="xs:string" />
						<xs:element name="AddrType" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BalInqResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AcctId" type="xs:string" />
						<xs:element name="SchmCode" type="xs:string" />
						<xs:element name="SchmType" type="xs:string" />
						<xs:element name="AcctCurr" type="xs:string" />
						<xs:element name="BankId" type="xs:string" />
						<xs:element name="Name" type="xs:string" />
						<xs:element name="BranchId" type="xs:string" />
						<xs:element name="BranchName" type="xs:string" />
						<xs:element name="Addr1" type="xs:string" />
						<xs:element name="Addr2" type="xs:string" />
						<xs:element name="Addr3" type="xs:string" />
						<xs:element name="City" type="xs:string" />
						<xs:element name="StateProv" type="xs:string" />
						<xs:element name="PostalCode" type="xs:string" />
						<xs:element name="Country" type="xs:string" />
						<xs:element name="AddrType" type="xs:string" />
						<xs:element name="BalType" type="xs:string" />
						<xs:element name="amountValue" type="xs:long" />
						<xs:element name="currencyCode" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="BalInqRequest">
		<wsdl:part element="sch:BalInqRequest" name="BalInqRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="BalInqResponse">
		<wsdl:part element="sch:BalInqResponse"
			name="BalInqResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ItemEndPoint">
		<wsdl:operation name="BalInq">
			<wsdl:input message="tns:BalInqRequest"
				name="BalInqRequest">
			</wsdl:input>
			<wsdl:output message="tns:BalInqResponse"
				name="BalInqResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ItemEndPointSoap11"
		type="tns:ItemEndPoint">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="BalInq">
			<soap:operation soapAction="" />
			<wsdl:input name="BalInqRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="BalInqResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ItemEndPointService">
		<wsdl:port binding="tns:ItemEndPointSoap11"
			name="ItemEndPointSoap11">
			<soap:address location="http://localhost:8080/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>